In [68]:
import os
import glob
import pandas as pd
os.chdir(r'C:\Users\n_kudinova\Downloads\jb-bi-team-homework-master\settlement')

In [69]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [74]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f, sep='\;') for f in all_filenames ])

C:\Users\n_kudinova\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [75]:
combined_csv.head()

,COMPANY_ACCOUNT,MERCHANT_ACCOUNT,BATCH_NUMBER,PSP_REFERENCE,ORDER_REF,PAYMENT_METHOD,DATE,TIMEZONE,TYPE,MODIFICATION_REFERENCE,CURRENCY,NET,FEE,GROSS
0,JetBrains,JetBrainsAmericasUSD,138,164B5881A9424333,C000082067,mc,2018-03-06,UTC,Settled,C9F0DB01DBB2436D,USD,179.0,9.0,188.0
1,JetBrains,JetBrainsAmericasUSD,138,8449199553C34DDF,R000027688,visa,2018-03-10,UTC,Settled,D3BC4660F80F41F2,USD,855.0,45.0,900.0
2,JetBrains,JetBrainsAmericasUSD,138,50ACC52DD3CE4188,R000018420,visa,2018-02-20,UTC,Settled,9FB95EC6574140C4,USD,380.0,20.0,400.0
3,JetBrains,JetBrainsAmericasUSD,138,0BBE28B549104252,E000104693,mc,2018-03-09,UTC,Settled,7980F223FEF84B39,USD,93.0,5.0,98.0
4,JetBrains,JetBrainsAmericasUSD,138,90F8A53DF87349E2,C000216746,visa,2018-01-11,UTC,Settled,843F4138341047D7,USD,333.0,17.0,350.0

In [76]:
combined_csv.to_csv( "combined_csv.csv", index=False)

In [77]:
combined_csv.shape

(373042, 14)